html{
    scroll-behavior: smooth;
}
body *{
    border: 2px solid reed;
}

/* ------------------------------------------------ */
/* ------------------------ Layout ---------------- */
/* ------------------------------------------------ */

body {
    background-image:linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("img/BG.png");
    width: 100%;
    font-size: 2.4vw;
    font-family: 'PT Serif';
    color:rgb(209, 209, 209);
}
.blur{
    backdrop-filter: blur(2px);
}

.fullheight{
    height: 100vh;
    padding-top: 10vh;
    padding-left: 10px;
    padding-right: 10px;
}

.about{
    font-size: 4em;
}

.min-list{
    font-size: 1.4rem;
    background-color: #252525;
    border:none;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    padding:15px;
    margin:0;
    list-style-type: none;
    li:first-of-type{
        margin-bottom: 10px;
        font-size: 2rem;
    }
}

/* ------------------------------------------------ */
/* --------------------- Navigation --------------- */
/* ------------------------------------------------ */

.navigation{
    position: relative;
    display: block;
    list-style-type: none;
    margin:0;
    padding:0;
}

.navigation li{
    float:left;
    margin:1vw;
    font-size: 3.5vh;
}

.navigation li a{
    color:inherit;
    list-style: none;
    display: inline-block;
    text-decoration: none;
    text-decoration-line: none;
    position: relative;
    transition: all 0.25s;
    &:hover{
        color:#eee;
    }
}

.menu{
    position: fixed;
    background-image: linear-gradient(to bottom, #000000, #0d0d0d, #161616, #1d1d1d, #252525, #292929, #2d2d2d, #313131, #323232, #333333, #353535, #363636);
    backdrop-filter: blur(2px);
    opacity: .97;
    top:0;
    width:100%;
    height:10vh;
    z-index: 2;
}

.menu nav{
    display: flex;
    height:100%;
    -webkit-box-pack:justify;
    justify-content:space-between;
    position:relative;
    align-items:center;
}

.menu div{
    display:flex;
    margin: 0 auto;
}

/* ------------------------------------------------ */
/* --------------------- EduSkills ---------------- */
/* ------------------------------------------------ */

.left .right {
    position: relative;
}
.eduSkills{
    height:fit-content;
    h2{
        margin-top: 10vh;
        padding: 10px;
    }
    p{
        font-size: 1.4rem;
    }

}

@media screen and (min-width: 1024px) {
    .eduSkills{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      padding: 0 5vw;
    }
    .right{
      grid-column: 4 / span 5;
    }
    .left{
      grid-column: 1 / span 2;    
    }
}

/* ------------------------------------------------ */
/* --------------------- Contact ------------------ */
/* ------------------------------------------------ */

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    p{
        display:inline-block;
        vertical-align: middle;
        color:rgb(179, 179, 179);
        margin-top: 15px
    }

    h2{
        display:inline-block;
        vertical-align: middle;
        margin: 15px;
    }

    a{
        display:inline-block;
        vertical-align: middle;
    }
    div{
        max-width: 60%;
    }
}

.mail{
    color:inherit;
    list-style: none;
    text-decoration: none;
    text-decoration-line: none;
    position: relative;
    transition: all 0.25s;
    padding:10px;
    border: 5px solid #4d4d4d;
    border-radius: 5px;
    &:hover{
        background-color:rgba(238, 238, 238, 0.1);
    }
    .fa-envelope{
        float: right;
        padding-left: 10px;
        padding-top: 3px;
        
    }
}
/* ------------------------------------------------ */
/* --------------------- Projects ----------------- */
/* ------------------------------------------------ */

.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    height:fit-content;
    ul{
        position: relative;
        width:60%;
        padding:0;
        margin-top: 0;
        list-style-type:none;
        display:grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap:20px;
    }
    li{
        height:30vh;
    }
    li a{
        font-size: 2.4rem;
        width:100%;
        height:100%;
        color:inherit;
        list-style: none;
        display: inline-block;
        text-decoration: none;
        text-decoration-line: none;
        position: relative;
        transition: all 0.25s;
        &:hover{
            color:#eee;
        }
    }
    .fa-square{
        width:50%;
        height:50%;
    }
    .projectItem{
        text-align: center;
        background-color: #4d4d4d;
        height: inherit;
        width: 100%;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        border-radius:10px;
    }
}
/* ------------------------------------------------ */
/* --------------------- About -------------------- */
/* ------------------------------------------------ */

@media screen and (min-width: 1024px) {
    .about{
            overflow: hidden;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            padding: 0 5vw;
            padding-top: 5rem;
            div :nth-child(1){
                grid-column: 1 / span 3;
            }
            div:nth-child(2){
                grid-column: 4;
            }
        }
}
.about{
    overflow: hidden;
    height: auto;
        h1{
            font-size: 7rem;
        }
        h2{
            font-size: 4rem;
        }
        div :nth-child(1){
            width:45rem;
            grid-column: 1 / span 3;
        }
        div:nth-child(2){
            padding-bottom: 20px;
        }
        img{
            filter: drop-shadow(15px 10px 4px #000000);
            display:inline-block;
            margin-top: 10vh;
            width: auto;
            height:auto;
            max-width: 35rem;
            border-radius: 5%;
        }
        div{
            width:100%;
        }
}